body {
  font-family: 'Crimson Text', serif;
  position: relative;
}

.introd {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  }

h1 {
  font-size: 70px;
  padding: 30px;
  background-image: url("https://www.vogue.com/article/vietnamese-food-guide-dishes");
  font-family: 'Sigmar One', cursive;
  position: relative;
  top: 50px;
}

h3 {
  font-size: 30px;
}
h2 {
  font-size: 50px;
  font-family: 'Sigmar One', cursive;
}

li {
  font-size: 20px;
}
 ul {
   background: #E2E5E7;
   color: grey;
   /*position: absolute;
    left: 100px;
    top: 150px;*/
 }

 .pagewrap {
   margin: 0px auto;
 }

.morning {
  background: #2BEAC5;
  color: #333938;
  padding: 0px 25px 25px 25px;
  border: 10px solid white;

}


.afternoon {
  background: #3DB29B;
  color: #C2CBC9;
  padding: 0px 25px 25px 25px;
  border: 10px solid white;
}

.evening {
  background: #3E8879;
  color: white;
  padding: 0px 25px 25px 25px;
  border: 10px solid white;
}

.navigation {
  background: #E2E5E7;
  position: absolute;
    top:0px; right: 20px; left: 15px;
}
