body {
  font-family: 'Crimson Text', serif;
}

h1 {
  font-size: 50px;
  padding: 10px;

}

h3 {
  font-size: 30px;
}
h2 {
  font-size: 50px;
}

li {
  font-size: 20px;
}

.morning {
  background: #2BEAC5;
  color: #333938;
  padding: 25px;
  border: 10px solid white;
}

.afternoon {
  background: #3DB29B;
  color: white;
  padding: 25px;
  border: 10px solid white;
}

.evening {
  background: #3E8879;
  color: white;
  padding: 25px;
  border: 10px solid white;
}

.navigation {
  position:position: absolute;
    top: 40px; left: 40px;
  background: #E2E5E7;
}
