.food {
  background: #1B4553;
  color: white;
  padding: 25px;
  border: 10px solid white;
}

.mind {
  background: #B9B924;
  color: white;
  padding: 25px;
  border: 10px solid white;
}

.body {
  background: #551D4D;
  color: white;
  padding: 25px;
  border: 10px solid white;
}
